<div class="container" *ngIf="item">
  <div class="row">
    <div class="col-12" *ngIf="item.active">
      <div class="item-hero-image " *ngIf="item.image_url">
          <img src="{{ item.image_url || 'https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/Jobs_UX_Writer_2x1.png' }}" alt="{{item.title}}">
      </div>
      <div class="specs-container">
          <h1> {{ item.title }}</h1>
          <div class="intro-text" [innerHTML]="item.intro"></div>
          <p>
              <button mat-raised-button color="accent" (click)="openDialog()" >Apply now</button>
          </p>
          <p>&nbsp;</p>
          <div [innerHTML]="item.content"></div>
          <h3>Contact</h3>
          <div [innerHTML]="item.contact"></div>
          <div>
              <button mat-raised-button color="accent" (click)="openDialog()" >Join us &raquo;</button>
          </div>
      </div>
    </div>
    <div class="col-12" *ngIf="!item.active">
        This item is not available.
    </div>
  </div>
</div>
