<!--https://www.youtube.com/watch?v=t6QJFny0yJI-->

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field>
                        <input type="text" matInput formControlName="username" placeholder="Username"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                    </mat-form-field>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input type="password" placeholder="Password" matInput formControlName="password"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    </mat-form-field>

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-raised-button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <button routerLink="/register" mat-flat-button> Register</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
