<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda incidunt ad, voluptatibus labore doloremque aliquam dolorum aperiam qui molestias deserunt tempore placeat voluptate magni odit fuga voluptatem minus dolore at.
            </div>
            <div class="col-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda incidunt ad, voluptatibus labore doloremque aliquam dolorum aperiam qui molestias deserunt tempore placeat voluptate magni odit fuga voluptatem minus dolore at.
            </div>
            <div class="col-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda incidunt ad, voluptatibus labore doloremque aliquam dolorum aperiam qui molestias deserunt tempore placeat voluptate magni odit fuga voluptatem minus dolore at.
            </div>
        </div>
    </div>
</footer>