<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        welcome
      </h1>
      <p class="item ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nihil nisi deleniti totam,
        maiores aliquam nam, corporis illo doloremque quam voluptatem iusto vel fuga. Consequatur eligendi corporis
        mollitia ab? Dolorem.</p>
      <p class="item ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nihil nisi deleniti totam,
        maiores aliquam nam, corporis illo doloremque quam voluptatem iusto vel fuga. Consequatur eligendi corporis
        mollitia ab? Dolorem.</p>
    </div>
  </div>
    <app-list class="row"></app-list>
</div>
