<form [formGroup]="this.vacancyForm" (ngSubmit)="onSubmit()" id="vancancies-form">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <input formControlName="title" required matInput placeholder="Job Title">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input formControlName="department" required matInput placeholder="Department">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input formControlName="slug" required matInput placeholder="Slug / Vanity Url">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-select formControlName="active" placeholder="Active">
              <mat-option value="1">Active</mat-option>
              <mat-option value="0">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input formControlName="image_url" matInput placeholder="Image url">
          </mat-form-field>
        </div>
        <div class="col-12">
            <!-- <mat-form-field>
              <textarea formControlName="intro" rows="10" required matInput placeholder="Intro"></textarea>
            </mat-form-field> -->
            <label for="intro-text">Intro</label>
            <!-- <div id="intro-text"  class="quill-editor" contenteditable="true" formControlName="intro"></div> -->
            <quill-editor class="quill-editor" formControlName="intro"></quill-editor>
          </div>
          
          <div class="col-12">
              <label for="intro-text">Full details</label>
              <quill-editor  class="quill-editor" formControlName="content"></quill-editor>
            </div>

        <div class="col-12">
          <!-- <mat-form-field> -->
              <!-- <textarea formControlName="contact" rows="10" matInput placeholder="Contact"></textarea> -->
              <label for="contact-info">Contact info</label>
              <quill-editor id="contact-info" class="quill-editor" formControlName="contact"></quill-editor>
          <!-- </mat-form-field> -->
        </div>
        <div class="col-12">
          <p>
            <mat-checkbox>Check me!</mat-checkbox>
          </p>
        </div>
        <div class="col">
          <p> <button mat-flat-button color="primary">Submit</button></p>
        </div>
      </div>
    </div>
  </div>
</form>
