// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gsdh-vacancies-primary: mat-palette($mat-grey, 800);
$gsdh-vacancies-accent: mat-palette($mat-amber, A200, A100, A400);

$primary:  mat-palette($mat-grey, 800);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);


$primary-color: #ffc400;
$secondary-color: #424242;


$link-color: #333333;
$component-active-bg: #333333; 
// The warn palette is optional (defaults to red).
$gsdh-vacancies-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gsdh-vacancies-theme: mat-light-theme($gsdh-vacancies-primary, $gsdh-vacancies-accent, $gsdh-vacancies-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gsdh-vacancies-theme);



@import "~angular-material/angular-material.scss";

$link-color:                #000000 !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$custom-control-indicator-checked-disabled-bg:  rgba($link-color, .5);

// @import "~bootstrap-4-grid/css/grid.min.css";
@import "~bootstrap-4-grid/scss/breakpoints/mixins/breakpoints";
@import "~bootstrap-4-grid/scss/grid/bootstrap-grid";
@import "~bootstrap-4-grid/scss/sizing/utilities/sizing";
@import "~bootstrap-4-grid/scss/layout/utilities/spacing";
@import "~bootstrap-4-grid/scss/layout/mixins/visibility";
@import "~bootstrap-4-grid/scss/layout/utilities/visibility";
// @import "~bootstrap-4-grid/scss/grid.scss";




a {
  color: #000;
  transition: all .2s linear;

  &:hover {
    color: $primary-color
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.specs-container {
  max-width: 790px;
  margin: 0 auto;
}

body {
  line-height: 1.7;
  color: #666666
}

.mat-card {
  margin-bottom: 32px;
}

.floating-nav {
  background-color: $secondary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

textarea,
body .mat-form-field-infix,
body .mat-form-field,
input[type="text"] {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.quill-editor {
  margin-bottom: 30px;
  display: block;
}

footer {
  padding: 30px 0 30px;
  margin: 60px 0 0;
  background-color: #f1f1f1;
  font-size: 14px;
}

.sub-footer {
  margin-top: 0px;
  padding: 15px 0;
  background-color: #999999;

}

.text-right {
  text-align: right
}

strong {
  font-weight: 400;
}

h1 {
  font-weight: 400;
  margin: 30px 0; color: #222;
  font-size: 200%;
}

h2,
h3,
h4 {
  font-weight: 400;
}

h2,
h3 {
  font-size: 150%;
  font-weight: 400;
  color: $secondary-color;
}

.item-hero-image {
  margin-bottom: 30px;
}

.intro-text {
  font-size: 20px;
}
